.about {
  padding: clamp(1.4375rem, -0.6408rem + 8.8673vw, 10rem) clamp(2.3125rem, 1.9181rem + 1.6828vw, 3.9375rem) clamp(2.8125rem, 1.9175rem + 3.8188vw, 6.5rem) clamp(2.3125rem, 1.9181rem + 1.6828vw, 3.9375rem);
  background-color: var(--color-main);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: clamp(0rem, -1.9721rem + 8.4142vw, 8.125rem);

  @media screen and (max-width: 991px) {
      flex-direction: column;
      align-items: center;
  }

  @media screen and (max-width: 376px) {
      position: relative;
  }

  &__img {
    @media screen and (max-width: 376px) {
      position: absolute;
      top: 42%;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &-content {
    &__title {
      @include font-bold;
      font-size: clamp(1.25rem, 0.8252rem + 1.8123vw, 3rem);
      margin: 5px 0 clamp(0.8125rem, 0.1602rem + 2.7832vw, 3.5rem) 0;
      letter-spacing: 0.15rem;

      @media screen and (max-width: 376px) {
        text-align: center;
      }
    }

    &__info {
      &-text {
        max-width: 1085px;
        font-size: clamp(1rem, 0.6966rem + 1.2945vw, 2.25rem);
        line-height: 1.2;
        text-indent: 1.25em;

        @media screen and (max-width: 376px) {
            text-align: center;
            text-indent: 0;
          }

        &:last-child {
          margin: 20px 0 clamp(1.25rem, 0.3398rem + 3.8835vw, 5rem) 0;
          
          @media screen and (max-width: 376px) {
            margin-top: 326px;
          }
        }
      }
    }

    &__btn {
      width: clamp(9.3125rem, 6.2482rem + 13.0744vw, 21.9375rem);
      height: clamp(2.6875rem, 2.0049rem + 2.9126vw, 5.5rem);
      border: solid 4px var(--color-second);
      border-radius: 10px;
      background-color: transparent;
      font-size: clamp(0.875rem, 0.5413rem + 1.4239vw, 2.25rem);
      letter-spacing: 0.15rem;
      transition: 0.3s;

      &:hover {
        background-color: var(--color-second);
        transition: 0.3s;
      }

      @media screen and (max-width: 376px) {
        display: block;
        margin: 0 auto;
      }
    }
  }
}
